<!DOCTYPE html>
<html>
  <head>
    <title>RailsStupidCoaching</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <!-- <div class="header">
    <%= render "layouts/header" %>
  </div> -->
    <div class="wrapper">
        <div class="inner-wrapper">

          <%= yield %>

        </div>
    </div>
    <!-- <div class="footer">
      <%= render "layouts/footer" %>
    </div> -->
  </body>
</html>
